torchvision
numpy
opencv-python
opencv-contrib-python
einops
bpy==3.6.0
segment-anything
tqdm
python-dotenv
mediapipe
# -e git+https://github.com/facebookresearch/segment-anything.git#egg=segment_anything